@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Amatic+SC:wght@700&family=Fredericka+the+Great&family=Josefin+Sans&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Rozha+One&display=swap');

html {
    font-family: "Lora";
}

body {
    max-width: 512px;
    background-image: url("/public/styles/modern/texture.jpg");
    background-repeat: repeat;
    margin: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Amatic SC";
}

h1 {
    font-size: 64px;
    font-family: "Fredericka the Great";
    font-weight: normal;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

a {
    color: black;
}

article {
    margin-top: 48px;
    margin-bottom: 48px;
}

article h2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.profile-picture {
    border-radius: 50%;
}

/* CODE */

code {
    font-family: "Fira Code";
    font-size: 16px;
}

.highlighter-rouge {
    overflow-x: auto;
    position: relative;
}

.highlighter-rouge code {
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
}

.highlight {
    color: var(--text-color);
}

/* Comments */
.highlight .c,
.highlight .ch,
.highlight .cm,
.highlight .cp,
.highlight .cpf,
.highlight .c1,
.highlight .cs
{
    color: grey;
    font-style: italic;
}

/* Errors */
.highlight .err
{
    color: darkred;
}

/* Keywords */
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt
{
    color: darkmagenta;
    font-weight: bold;
}

/* Literals */
.highlight .s,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo
{
    color: darkgreen;
}

/* Functions, Macros, Methods */
.highlight .n,
.highlight .na,
.highlight .nc,
.highlight .nd,
.highlight .ne,
.highlight .nf,
.highlight .ni,
.highlight .nn,
.highlight .no,
.highlight .nt,
.highlight .nv
{
    color: darkblue;
}

/* Builtins */
.highlight .nb,
.highlight .bp,
.highlight .nl,
.highlight .vc,
.highlight .vg,
.highlight .vi
{
    color: darkmagenta;
    font-weight: bold;
}
