---
layout: default
---

<link rel="stylesheet" type="text/css" href="/public/styles/gallery.css">

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let images = document.getElementsByClassName("lazyload");
        window.setInterval(function(){
            for (let i = 0; i < images.length; i++) {
                let image = images[i];
                if (isInView(image)) {
                    image.setAttribute("src", image.getAttribute("lazysrc"));
                }
            }
        }, 1000);
        
    });

    function isInView(el) {
        var rect = el.getBoundingClientRect();

        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
    }
</script>

{% for post in site.posts %}
{% if post.categories contains "Bild" %}
{% include image.html %}
{% endif %}
{% endfor %}
