<footer>
    <p>{{ site.owner.name }}</p>
    <a href="https://github.com/{{ site.social.github }}">
        <img class="social" src="/social/github.svg">
    </a>
    <a href="https://twitter.com/{{ site.social.twitter }}">
        <img class="social" src="/social/twitter.svg">
    </a>
    <a href="https://instagram.com/{{ site.social.instagram }}">
        <img class="social" src="/social/instagram.svg">
    </a>
    <a href="mailto:{{ site.owner.email }}">
        <img class="social" src="/social/mail.svg">
    </a>
</footer>