<footer>
    <!--<p>{{ site.owner.name }}</p>-->
    <!--<a href="https://github.com/{{ site.social.github }}" target="_blank">
        <img class="social" src="/public/social/github.svg">
    </a>
    <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank">
        <img class="social" src="/public/social/twitter.svg">
    </a>
    <a href="https://instagram.com/{{ site.social.instagram }}" target="_blank">
        <img class="social" src="/public/social/instagram.svg">
    </a>
    <a href="mailto:{{ site.owner.email }}" target="_blank">
        <img class="social" src="/public/social/mail.svg">
    </a>-->
</footer>