<header> 
    {% if page.title %}
    <h1 id="title"><span>{{ page.title }}</span></h1>
    {% else %}
    <h1 id="title"><span>{{ site.title }}</span></h1>
    {% endif %}
    <script>
        if (document.getElementById("title").innerText.length < 3) {
            document.getElementById("title").classList.add("largest");
        } else
        if (document.getElementById("title").innerText.length < 6) {
            document.getElementById("title").classList.add("larger");
        } else
        if (document.getElementById("title").innerText.length < 9) {
            document.getElementById("title").classList.add("large");
        }
    </script>
</header>