{% if page.url %}
<div class="share">
    <p>Teile diese Seite</p>
    <a href="whatsapp://send?text=fabianboesiger.github.io{{ page.url }}" target="_blank"><img src="/public/social/whatsapp.svg" alt="WhatsApp"></img></a>
    <a href="http://twitter.com/share?text={{ page.title }}&url=fabianboesiger.github.io{{ page.url }}" target="_blank"><img src="/public/social/twitter.svg" alt="Twitter"></img></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://fabianboesiger.github.io/{{ page.url }}" target="_blank"><img src="/public/social/facebook.svg" alt="Facebook"></img></a>
</div>
{% endif %}

