@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@700&display=swap');

:root {
    --background-color: rgb(230, 225, 222);
    --text-color: rgb(15, 12, 19);
    --additional-color: rgb(210, 193, 177);
    --accent-color: rgb(161, 105, 90);
    --heading-font: "Quicksand", sans-serif;
    --text-font: "Lora", serif;
    --code-font: "Fira Code", monospace;
}

html {
    background: var(--background-color);
    color: var(--text-color);
    font-size: 18px;
    font-family: var(--text-font);
    word-break: break-word;
}

body {
    margin: auto;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
}

header, nav, footer, article {
    text-align: center;
}

header, footer, main {
    padding-top: 32px;
    padding-bottom: 32px;
}

article {
    margin-top: 32px;
    margin-bottom: 32px;
}

article > a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
} 

.title {
    font-family: var(--heading-font);
    font-size: 24px;
    font-weight: bold;
}

header {
    border-bottom: 1px solid var(--additional-color);
}

@media only screen and (max-width: 768px) {
    nav, header, footer {
        margin-left: -32px;
        width: calc(100% + 64px);
    }
}

.date {
    display: inline-block;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.tags {
    width: 100%;
    text-align: center;
}

.tag {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border: 1px solid var(--additional-color);
    border-radius: 14px;
    font-style: italic;
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    white-space: nowrap;
}

.category {
    font-weight: bold;
}

footer {
    border-top: 1px solid var(--additional-color);
    font-size: 16px;
}

nav {
    position: sticky;
    top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 100;
    background: var(--background-color);
    border-bottom: 1px solid var(--additional-color);
}

nav > a {
    padding: 8px;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h1 {
    font-size: 32px;
    margin-bottom: 0;
}

h2 {
    font-size:24px;
}

h3, h4, h5, h6 {
    font-size: 20px;
}

code {
    font-size: 16px;
    font-family: var(--code-font);
}

table {
    width: 100%;
}

th {
    font-family: var(--heading-font);
    text-align: left;
}

.about th {
    padding-top: 1em;
}

.about td:first-child, .about th:first-child {
    width: 32px;
}


/* SHARE BUTTONS */

.share {
    text-align: center;
}

.share img {
    width: 32px !important;
    height: 32px !important;
    padding: 4px !important;
    margin: 0 !important;
    padding-top: 0;
}