.highlight
{
    color: white;
}

/* Comments */
.highlight .c,
.highlight .ch,
.highlight .cm,
.highlight .cp,
.highlight .cpf,
.highlight .c1,
.highlight .cs
{
    color: lightgrey;
    font-style: italic;
}

/* Errors */
.highlight .err
{
    color: tomato;
}

/* Keywords */
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt
{
    color: lightcoral;
    font-weight: bold;
}

/* Literals */
.highlight .s,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo
{
    color: lightgreen;
}

/* Functions, Macros, Methods */
.highlight .na,
.highlight .no,
.highlight .nd,
.highlight .ne,
.highlight .nt,
.highlight .nv,
{
    color: lightblue;
}

.highlight .n,
.highlight .nb,
.highlight .bp,
.highlight .ni,
.highlight .nn,
.highlight .nl,
.highlight .nc,
.highlight .nf,
.highlight .vc,
.highlight .vg,
.highlight .vi,

{
    color: lightblue;
}

