:root {
    /* Invert base colors for dark theme */
    --bg-color: black;
    --text-color: white;
}

img.social {
    filter: invert(100%);
}

main {
    max-width: initial;
    margin: 0px;
    padding: 0px;
    column-count: 1;
    column-gap: 10px;
}

@media only screen and (min-width: 1024px) {
    main {
        column-count: 2;
    }
}

@media only screen and (min-width: 1536px) {
    main {
        column-count: 3;
    }
}

@media only screen and (min-width: 2048px) {
    main {
        column-count: 4;
    }
}

.image {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    break-inside: avoid;
}

.image-wrapper {
    position: relative;
    width: 100%;
}

.image-wrapper img {
    display: block;
    border: none;
    width: 100%;
}

.image-wrapper .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 32px);
    padding: 16px;
    background: linear-gradient(transparent, var(--bg-color));
}