@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@400;700&display=swap');

:root {
    --light-text-color: #888;
    --text-color: #111;
    --background-color: #fff;
    --spacer-style: 1px solid #ddd;
    --spacing: 12px;
}


@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --background-color: #111;
        --light-text-color: #777;
        --spacer-style: 1px solid #333;
    }

    .social {
        filter: invert(100%);
    }
}


body {
    background: var(--background-color);
    color: var(--text-color);
    margin: 16px;
    font-family: "Lora";
    line-height: 1.8em;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, th {
    font-family: "Oswald";
    text-transform: uppercase;
    word-wrap: break-word;
    line-height: 1.2em;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-weight: normal;
    font-size: 16px;
}

main, header, footer, nav {
    margin: auto;
    max-width: 768px;
}

nav, header, footer {
    text-align: center;
}

header {
    border-bottom: var(--spacer-style);
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    background: var(--background-color);
    border-bottom: var(--spacer-style);
}

footer {
    margin-top: var(--spacing);
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    border-top: var(--spacer-style);
}

img {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: var(--spacer-style);
    padding: 4px;
}

th {
    text-align: left;
    background-color: #dddddd;
}

ul, ol {
    padding-left: 32px;
}

.post {
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}


.post > a {
    text-decoration: none;
}

.post > a > * {
    margin-top: 4px;
    margin-bottom: 4px;
}

.post ~ .post {
    border-top: var(--spacer-style);
}

.social {
    width: 32px;
}

nav {
    font-size: 0;
    height: 24px;
}

nav > a {
    font-size: 16px;
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    font-family: "Oswald";
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

nav > a ~ a {
    border-left: var(--spacer-style);
}

.tag {
    font-size: 16px;
    font-family: "Oswald";
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--light-text-color);
}

.tag ~ .tag::before {
    content: " - ";
}

.tag.selected {
    font-weight: bold;
}

.date {
    color: var(--light-text-color);
}

a {
    color: var(--text-color);
}

blockquote em {
    display: block;
    text-align: right;
}

blockquote {
    position: relative;
}

blockquote::before {
    content: "❝";
    font-size: 32px;
    position: absolute;
    top: -8px;
    left: -32px;
}

blockquote::after {
    content: "❞";
    font-size: 32px;
    position: absolute;
    bottom: -18px;
    right: -32px;
}

/* CODE */

code {
    font-family: "Fira Code";
}

code.highlighter-rouge {
    padding-left: 2px;
    padding-right: 2px;
}

div.highlighter-rouge {
    overflow-x: auto;
    position: relative;
}

div.highlighter-rouge code {
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
}

/* Comments */
.highlight .c,
.highlight .ch,
.highlight .cm,
.highlight .cp,
.highlight .cpf,
.highlight .c1,
.highlight .cs
{
    color: var(--light-text-color);
    font-style: italic;
}

/* Errors */
.highlight .err
{
    color: var(--text-color);
    font-weight: bold;
    font-style: italic;
}

/* Keywords */
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt
{
    color: var(--text-color);
    font-weight: bold;
}

/* Literals */
.highlight .s,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo
{
    color: var(--text-color);
}

/* Functions, Macros, Methods */
.highlight .n,
.highlight .na,
.highlight .nc,
.highlight .nd,
.highlight .ne,
.highlight .nf,
.highlight .ni,
.highlight .nn,
.highlight .no,
.highlight .nt,
.highlight .nv
{
    color: var(--text-color);
}

/* Builtins */
.highlight .nb,
.highlight .bp,
.highlight .nl,
.highlight .vc,
.highlight .vg,
.highlight .vi
{
    color: var(--text-color);
}