:root {
    --accent-color: #444;
    --text-color: #444;
    --light-color: #ddd;
    --background-color: #ffffff;

    --content-margin: 1em;
    --main-padding: 32px;
    --nav-height: 64px;

    --small-font-size: 16px;
    --text-font-size: 20px;

    --title-font: "Poppins", sans-serif;
    --text-font: "Halant", serif;
}

html {
    background: var(--accent-color);
    color: var(--text-color);
    font: var(--text-font-size) var(--text-font);
    overflow-x: hidden;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    top: 0;
    z-index: 100;
}

/* Navigation */

nav {
    width: 100%;
    height: 100%;
    background: var(--accent-color);
    text-align: center;
    font-family: var(--title-font);
    text-transform: uppercase;
}

nav > a {
    box-sizing: border-box;
    display: inline-block;
    padding: 16px;
    height: 100%;
    text-decoration: none;
    color: var(--background-color);
}

nav > a.selected {
    background: var(--background-color);
    color: var(--accent-color);
}

/* Footer */

footer {
    font-size: var(--small-font-size);
    padding: var(--main-padding);
    color: var(--background-color);
    text-align: center;
}

footer > a {
    color: var(--background-color);
    text-decoration: none;
}

footer .social {
    width: 32px;
    filter: invert();
}

/* Main Content */

main {
    background: var(--background-color);
    padding: var(--main-padding);
    margin-top: var(--nav-height);
}

main > * {
    max-width: 512px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6, p, dt, dd, table, .highlighter-rouge, .MathJax_Display {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Post Link */

article {
    border-bottom: 1px solid var(--light-color);
}

article:first-child {
    border-top: 1px solid var(--light-color);
}

article > a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding-top: var(--content-margin);
    padding-bottom: var(--content-margin);
}

article > a > * {
    margin: 0;
}

/* Date */

.date {
    font-size: var(--small-font-size);
    margin-bottom: 0;
}

.date + * {
    margin-top: 0;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    text-transform: uppercase;
}

/* Links */

a {
    color: var(--text-color);
}

/* Code */

code {
    font-family: "Fira Code", monospace;
}

pre {
    margin: 0;
}

/* Images */

img {
    width: 100%;
}

@media only screen and (max-width: 576px) {
    main > p > img {
        position: relative;
        left: -32px;
        width: 100vw;
    }
}

/* Quotes */

blockquote {
    font-style: italic;
    text-align: center;
}

blockquote > p {
    padding: var(--main-padding);
    border: 1px solid var(--light-color);
    position: relative;
}

/*
blockquote > p::before {
    content: "â";
    display: block;
    width: 100%;
    text-align: center;
    font-size: 64px;
    line-height: 48px;
    color: var(--light-color);
}
*/

blockquote > p > em {
    display: block;
    color: var(--light-color);
    background-color: var(--background-color);
    font-size: var(--small-font-size);
    font-weight: bold;
    font-family: var(--title-font);
    text-transform: uppercase;
    position: absolute;
    bottom: calc(1em - 32px);
    right: 32px;
    padding: 4px;
}

/* Tables */

table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    border-collapse: collapse;
}

th {
    font-family: var(--title-font);
    text-transform: uppercase;
    text-align: left;
    background-color: var(--light-color);
}

th, td {
    border-bottom: 1px solid var(--light-color);
    padding-left: 4px;
    padding-right: 4px;
}

thead th, thead td {
    border-top: 1px solid var(--light-color);
}

/* Definition Lists */

dl {
    border: 1px solid var(--light-color);
    position: relative;
}

dt {
    font-weight: bold;
    font-family: var(--title-font);
    text-transform: uppercase;
    text-align: center;
}

dt::before {
    display: block;
    color: var(--light-color);
    background-color: var(--background-color);
    font-size: var(--small-font-size);
    font-weight: bold;
    font-family: var(--title-font);
    text-transform: uppercase;
    position: absolute;
    top: calc(1em - 32px);
    left: 32px;
    padding: 4px;
}

dd {
    text-align: center;
}

/*
dt.definition, dt.definition + dd {
    background: #ddf;
}
*/

dt.definition::before {
    content: "Definition";
}

/*
dt.axiom, dt.axiom + dd {
    background: #dfd;
}
*/

dt.axiom::before {
    content: "Axiom";
}

/*
dt.theorem, dt.theorem + dd {
    background: #fdd;
}
*/

dt.theorem::before {
    content: "Theorem";
}

/* Overflowable Elements */

.MathJax_Display, .highlighter-rouge {
    overflow-x: auto;
    overflow-y: hidden;
}
