@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@700&display=swap');

body {
    margin: 16px;
    font-family: "Lora";
    color: #111;
}

h1, h2, h3, h4, h5, h6, th {
    font-family: "Poppins";
    word-wrap: break-word;
}

main {
    padding-top: 32px;
    padding-bottom: 32px;
}

nav, header, footer {
    text-align: center;
}

main, header, footer {
    margin: auto;
    max-width: 768px;
}

/*
nav {
    position: sticky;
    top: 0;
    background: white;
    padding: 12px;
}
*/

nav a {
    margin-left: 2px;
    margin-right: 2px;
}

img {
    width: 100%;
}

p {
    line-height: 22px;
}

th {
    text-align: left;
}

.post {
    margin-top: 32px;
    margin-bottom: 32px;
}

.post h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.profile-picture {
    width: 192px;
    border-radius: 50%;
    display: block;
}

.about th, .about td {
    padding: 2px;
}

.about th:first-child, .about td:first-child {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px;
}

.about th {
    padding: 4px;
    padding-top: 1em;
}

.social {
    width: 32px;
}

.center > * {
    margin: auto;
}

.tag {
    cursor: pointer;
    font-style: italic;
    margin-left: 2px;
    margin-right: 2px;
}

.tag.selected {
    font-weight: bold;
}

a {
    color: #b11;
}

blockquote em {
    display: block;
    text-align: right;
}

blockquote {
    position: relative;
}

blockquote::before {
    content: "❝";
    font-size: 32px;
    position: absolute;
    top: -8px;
    left: -32px;
}

blockquote::after {
    content: "❞";
    font-size: 32px;
    position: absolute;
    bottom: -18px;
    right: -32px;
}

/* CODE */

code {
    font-family: "Fira Code";
}

code.highlighter-rouge {
    padding-left: 2px;
    padding-right: 2px;
}

div.highlighter-rouge {
    overflow-x: auto;
    position: relative;
}

div.highlighter-rouge code {
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
}

/* Comments */
.highlight .c,
.highlight .ch,
.highlight .cm,
.highlight .cp,
.highlight .cpf,
.highlight .c1,
.highlight .cs
{
    color: #777;
    font-style: italic;
}

/* Errors */
.highlight .err
{
    color: #111;
    font-weight: bold;
    font-style: italic;
}

/* Keywords */
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt
{
    color: #111;
    font-weight: bold;
}

/* Literals */
.highlight .s,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo
{
    color: #111;
}

/* Functions, Macros, Methods */
.highlight .n,
.highlight .na,
.highlight .nc,
.highlight .nd,
.highlight .ne,
.highlight .nf,
.highlight .ni,
.highlight .nn,
.highlight .no,
.highlight .nt,
.highlight .nv
{
    color: #111;
}

/* Builtins */
.highlight .nb,
.highlight .bp,
.highlight .nl,
.highlight .vc,
.highlight .vg,
.highlight .vi
{
    color: #111;
}