---
layout: default
---

<link rel="stylesheet" type="text/css" href="/public/styles/article.css">
<link rel="stylesheet" type="text/css" href="/public/styles/code.css">
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let tables = document.getElementsByTagName("table");
        for (let i = 0; i < tables.length; i++) {
            let table = tables[i];
            let wrapper = document.createElement("div");
            wrapper.classList.add("table-wrapper");
            table.parentNode.insertBefore(wrapper, table);
            wrapper.appendChild(table);
        }
    });
</script>
{% include nav.html %}
<article>
    <div class="thumbnail" style="background-image: url({{ page.thumbnail }});">
        {{ page.title }}
    </div>
    <div class="content">
        {{ content }}
    </div>
</article>